.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.left {
  flex: 60%;
  height: 100%;
}

.right {
  flex: 40%;
  height: 100%;
}

#bilde {
  background-color: lightgrey;
  height: 500px;
}

#tekst {
  background-color: lavender;
  height: 350px;
}

#lyd {
  background-color: white;
  height: 150px;
}

.kategori {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kategori > div {
  margin: 20px 0px 20px 0px;
  background-color: rosybrown;
  width: 350px;
}

#faner {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
}

.btn {
  width: 25%;
  height: 100%;
  text-decoration: none;
  background-color: cornflowerblue;
  border: none;
  font-size: 16px;
}

.btn:hover {
  background-color: lightblue;
}

.btn:focus {
  background-color: lightblue;
  outline: none;
}

h3 {
  text-align: center;
}

input {
  margin-left: 30%;
  margin-bottom: 20px;
}

.welcomeText {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5em;
}

.stage{
  margin-left: 40px;
  margin-top: 50px;
}

.content-wrapper{
  flex: 1 0 auto;
}

.wrapper {
  flex: 1;
}

.footer {
  background-color: #222;
  height: 50px;
  text-align: center;
  width: 100%;
}

.footer > p {
  color: #888;
  font-size: 14px;
}

@media screen and (max-width: 1100px) {
  .kategori > div{
    width: 220px;
  }
}

@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
  }

  .kategori{
    flex-direction: column;
  }

  .kategori > div {
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}


